*  {
    margin: 0px;
    padding: 0px;
    margin: 0 auto;
}
.container {
    width: 980px;
}
.logo {
    float: left;
}
.navagation {
    padding-top: 20px;
}
.navagation ul {
    display: inline;
}
.navagation ul li {
    display: inline-block;
    list-style: none;
}
.navagation ul li a {
    color: black;
    text-transform: uppercase;
    margin: 20px;
    float: left;
    text-decoration: none;

}
#btn1-buttom {
    float: right;
    padding: 10px;
     border: 1px solid black;
     background-color: white;
     
     
}
.banner img {
    max-width: 980px;
}
#content {
    width: 980px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
}
#content-items {
    max-width: 33%;
}
#content-items h1 {
    text-align: center;
}
#content-items img {
    background-size: cover;
    width: 100%;

}
#content-items img:hover {
    transform: scale(1.1);
    transition: 1s;
    transform: rotate(30deg)


}
.banner2 img {
    width: 980px;
}